#questionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 60%;
  align-items: center;
}

label {
  margin-right: 10px;
  width: 35%;
}


#answer_detail {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 98%;
  height: 3vmin;
}

#submitQuestion {
  width: 15%;
  height: 50%;
  font-family: "Overpass";
  font-size: 1.1em;
  color: white;
  background-color: #009edf;
  border: none;
  cursor: pointer;
}

#submitQuestion:hover {
  background-color: #014360;
}

.contact-header {
  margin-top: 5%;
  margin-bottom: 1%;
}

.inputDiv-button {
  width: 60%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
