.header {
  font-family: "Bebas Neue"; 
}

.logo-section {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo-section-title{
  font-size: 2.5em;
}

.main-logo {
  height: 4em;
  padding: 0.8em;
}
