.question-box {
  width: 80%;
}

.question-row {
  font-size: 3.0vmin;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-row-title{
  cursor: pointer;
}

.question-row-element {
  font-size: 2.3vmin;
  width: 26%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.question-row-buttons {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.function-button {
  width: 60%;
  height: 30%;
  font-family: "Barlow Condensed";
  font-size: 0.6em;
  color: white;
  background-color: #434343;
  border: transparent;
}


