.question-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-header {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5vmin;
  margin-bottom: 1vmin;
  /* border-bottom: 0.15em dotted black; */
}

.question-header-item {
  cursor: pointer;
}

/* .citylist-header-item h3:hover{
    color: #db86b8;
    cursor: pointer;
} */

.questionlist-add-new {
  width: 80%;
  min-height: 3vmin;
  margin-top: 1.5vmin;
  margin-bottom: 1vmin;
}

.questionlist-add-new-button {
    width: 15%;
    height: 50%;
    font-family: "Overpass";
    font-size: 1.1em;
    color: white;
    background-color: #009edf;
    border: none;
    cursor: pointer;
}

.questionlist-add-new-button:hover {
    background-color: #014360;
}
